body {
  font-family: helvetica;
  margin: 0px;
  background-color: #fffcee; }

h1, h2, h3 {
  font-family: "Kameron"; }

h1 {
  margin: 0;
  font-size: 2.5em; }

a:link, a:visited {
  text-decoration: none; }
a:hover {
  text-decoration: underline; }

pre {
  font-size: 1em;
  padding: 10px;
  border: 1px dashed gray;
  background-color: #eeffee; }

#heading {
  position: fixed;
  top: 0;
  left: 0;
  color: #4e352e;
  width: 150px;
  padding: 10px 25px; }
  #heading ul {
    list-style: square inside;
    font-size: 0.8em;
    margin: 0;
    padding: 3px 0 3px 2px; }
    #heading ul li {
      padding: 5px 0; }

#content {
  margin-left: 200px;
  padding-right: 20px;
  color: #2f1d37; }

#footer {
  position: fixed;
  bottom: 10px;
  left: 25px; }
  #footer a {
    font-family: Helvetica;
    font-size: 0.5em;
    padding-right: 0.8em; }
