!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %title snack - a micro-framework for static websites
    %link{:rel => 'shortcut icon', :href => 'favicon.ico'}
    = @head

  %body
    = yield
    :javascript
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '53483274eddd5b3c27000c77');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();