%h1 Snack

-content_for :head do
	%link{:rel=>'stylesheet', :href=>'/stylesheets/application.css'}
	%script{:type=>'text/javascript', :src=>'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
	%script{:type=>'text/javascript', :src=>'/javascripts/application.js'}